

.attributes-table {
  margin: 0 0 2.4rem;

  &__variables {
    display: flex;
    width: 100%;
    background: var(--architect-table-background);
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    margin: 0 0 0.6rem;
  }

  &__variable {
    &:nth-child(even) {
      background: var(--architect-table-background--alt);
    }
  }

  &__add {
    &::before {
      content: '+';
      color: var(--foreground-light);
      display: block;
      position: relative;
      top: 0.12rem;
    }
  }
}
