.attributes-table-variable {
	min-height: 50px;
	background: transparent;
	transition: background var(--animation-duration-standard);
	padding: var(--space-5) 0;

	.form-field-container,
	.form-field {
		margin: 0;
	}

	&__preview {
		max-height: 50px;
		overflow: hidden;
		transition: opacity var(--animation-duration-standard) var(--animation-duration-standard), max-height
			var(--animation-duration-standard) var(--animation-duration-standard);
	}

	&__edit {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity var(--animation-duration-standard), max-height var(--animation-duration-standard);
		color: var(--color-foreground);
		padding: 0 var(--space-5);
	}

	&--edit {
		background: var(--color-table-edit-background);

		.attributes-table-variable__edit {
			max-height: fit-content;
			opacity: 1;
			transition: opacity var(--animation-duration-standard) var(--animation-duration-standard), max-height
				var(--animation-duration-standard) var(--animation-duration-standard);
		}

		.attributes-table-variable__preview {
			max-height: 0;
			opacity: 0;
			transition: opacity var(--animation-duration-standard), max-height var(--animation-duration-standard);
		}
	}
}
