.attributes-table {
	margin: 0 0 var(--space-10);

	.attributes-table__variables {
		display: flex;
		width: 100%;
		background: var(--color-table-background);
		border-radius: 10px;
		overflow: hidden;
		flex-direction: column;
		margin: 0 0 var(--space-sm);
	}

	.attributes-table__variable {
		&:nth-child(even) {
			background: var(--color-table-background--alt);
		}
	}

	.attributes-table__add {
		&::before {
			content: "+";
			color: var(--color-foreground);
			display: block;
			position: relative;
			top: 0.12rem;
		}
	}
}
