.asset-browser-assets__controls {
	--input-background: transparent;
	margin-bottom: var(--space-md);
}

.asset-browser-assets__controls .form-field-container {
	display: flex;
	align-items: center;
}

.asset-browser-assets__controls .form-field-container h4 {
	flex: 0 0 auto;
	margin: 0;
}

.asset-browser-assets__controls .form-field-container .form-field-radio-group {
	flex-direction: row;
	margin-bottom: 0;
	width: unset;
}

.asset-browser-assets__controls .form-field-container .form-field-radio-group .form-field-radio {
	margin-bottom: 0;
	margin-right: var(--space-md);
}

.asset-browser-assets__assets {
	@apply grid grid-cols-3 gap-5;
}
