.asset-browser-preview .window__main {
	overflow-y: hidden;
}

.asset-browser-preview .window__content {
	height: 100%;
	width: 100%;
}

.asset-browser-preview .window__content div,
.asset-browser-preview .window__content audio,
.asset-browser-preview .window__content video {
	width: 100%;
	height: 100%;
}

.asset-browser-preview--type-network .window__main {
	overflow-x: auto;
	overflow-y: auto;
}

.asset-browser-preview--type-network .window__content {
	width: auto;
	height: auto;
}
