.rules-preview-text__join {
	padding: var(--space-md) var(--space-xl);
	width: 100%;
	height: 0;
}

.rules-preview-text__value {
	border-bottom: 3px dotted var(--color-rules-assert);
	margin: 0 0.4rem -3px;
	font-weight: var(--font-weight-semibold);
}
