

.stage-editor-section-content-items {
  &__controls {
    margin-top: 1.2rem;

    .button {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__control {
    margin-right: 0.6rem;
    color: var(--foreground-light);

    &::before {
      content: '+';
      font-size: 1.75rem;
      line-height: 100%;
      position: relative;
      top: -0.2rem;
      margin-right: 0.6rem;

    }

    &--text {
      background-color: var(--architect-variant--1);

      &:hover {
        background-color: var(--architect-variant--1);
      }
    }

    &--image {
      background-color: var(--architect-variant--2);

      &:hover {
        background-color: var(--architect-variant--2);
      }
    }

    &--audio {
      background-color: var(--architect-variant--3);

      &:hover {
        background-color: var(--architect-variant--3);
      }
    }

    &--video {
      background-color: var(--architect-variant--4);

      &:hover {
        background-color: var(--architect-variant--4);
      }
    }


  }
}
