@import 'core/animation';
@import 'core/units';
@import 'core/bem';
@import 'core/breakpoints';
@import 'core/color';
@import 'core/palette';
@import 'core/spacing';
@import 'core/typography';
@import 'core/z-index';
@import 'core/helpers';

$export-ui-classes: true !default;

// vertical align, horizontal align
@mixin vcjc {
  justify-content: center;
  align-items: center;
}

// Root sequence
$root-colors: (
  'neon-coral',
  'sea-serpent',
  'purple-pizazz',
  'neon-carrot',
  'kiwi',
  'cerulean-blue',
  'paradise-pink',
  'mustard'
);

// Edge sequence
$edge-colors: (
  'mustard',
  'purple-pizazz',
  'neon-coral',
  'kiwi',
  'paradise-pink',
  'tomato',
  'sea-serpent',
  'slate-blue',
  'sea-green',
  'cerulean-blue'
);

// Node Sequence
@include palette-set('node-label', var(--color-white));

$node-colors: (
  'neon-coral',
  'sea-serpent',
  'purple-pizazz',
  'neon-carrot',
  'kiwi',
  'cerulean-blue',
  'paradise-pink',
  'mustard'
);

// Ordinal Bin Sequence
$ordinal-colors: (
  'sea-green',
  'sea-serpent',
  'tomato',
  'neon-carrot',
  'kiwi',
  'cerulean-blue',
  'paradise-pink',
  'mustard'
);

// Categorical Bin Sequence
$categorical-colors: (
  'sea-serpent',
  'purple-pizazz',
  'mustard',
  'paradise-pink',
  'kiwi',
  'cerulean-blue',
  'neon-carrot',
  'barbie-pink',
  'tomato',
  'slate-blue'
);


// Protocol Schema Sequence
$schema-colors: (
  'platinum-dark',
  'cyber-grape',
  'slate-blue',
  'sea-serpent',
  'cerulean-blue',
  'mustard',
  'neon-carrot',
  'barbie-pink',
  'tomato'
);

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


html {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
  color: var(--text);
}


@if $export-ui-classes {
  @include typography-classes;
}