.form-round-button {
	font-size: var(--text-2xl);
	background-color: var(--color-surface-accent);
	color: var(--color-foreground);
	width: var(--space-xl);
	height: var(--space-xl);
	border-radius: 100%;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: background-color var(--animation-easing)
		var(--animation-duration-standard);
}

.form-round-button .icon {
	width: 40%;
	height: 40%;
}

.form-round-button--small {
	width: var(--space-md);
	height: var(--space-md);
}

.form-round-button--small .icon {
	width: 100%;
	height: 100%;
}

.form-round-button:hover {
	background-color: var(--color-primary);
}
