.form-fields-color-picker {
  --color-picker-size: 4.2rem;
  --color-picker-border-size: 5px;
  &__edit {
    background: var(--color-input-background);
    color: var(--color-input-text);
    border-radius: 1rem 1rem 0 0;
    padding: 0.6rem 0 0 0.6rem;
  }

  &__label {
    font-family: var(--heading-font-family);
    font-size: inherit;
    color: var(--color-text);
    margin-top: 2.4rem;
    margin-bottom: 1.2rem;
    font-weight: 600;
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
  }

  &__color {
    display: flex;
    width: var(--picker-size);
    height: var(--picker-size);
    border-radius: var(--picker-size);
    margin: 0 0.6rem 0.6rem 0;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition-duration: var(--animation-duration-standard);
    transition-timing-function: var(--animation-easing);
    transition-property: background-color;

    &::after {
      margin: var(--picker-border-size);
      background-color: var(--color);
      content: '';
      width: calc(var(--picker-size) - var(--picker-border-size) * 2);
      height: calc(var(--picker-size) - var(--picker-border-size) * 2);
      border-radius: var(--picker-size);
      border-color: transparent;
      border-style: solid;
      border-width: .15rem;
      transition-duration: var(--animation-duration-standard);
      transition-timing-function: var(--animation-easing);
      transition-property: border-color;
    }

    &.form-fields-color-picker__color--selected {
      background-color: var(--node-outer-trim-stroke);

      &::after {
        border-color: var(--color-background-light);
      }
    }
  }

  &__color-label {
    display: none;
  }

  &__error {
    opacity: 0;
    background: var(--color-error);
    color: var(--color-form-error-text);
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
    padding: .5rem .25rem;
    display: flex;
    align-items: center;

    svg {
      max-height: 1.2rem;
    }
  }

  &--has-error {
    .form-fields-color-picker__edit {
      border: .1rem solid var(--error);
    }

    .form-fields-color-picker__error {
      opacity: 1;
    }
  }
}
