.form-fields-image {
	width: 100%;
	background: hsl(var(--rich-black));
	padding: var(--space-md);
	border-radius: var(--border-radius);

	&__image {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 30vh;
	}
}
