.form-fields-markdown {
  @include form-field;

  width: 100%;
  margin-bottom: 2rem;

  &__edit {
    display: flex;
    cursor: text;
    background: var(--color-background);
    color: var(--color-text);
    border-radius: 0.6rem;
  }

  &__input {
    @include preset('copy-standard');

    background-color: hsl(var(--input-background));
    border: 0;
    width: 100%;
    min-height: 4.8rem;
    vertical-align: top;
    resize: none;
    overflow: hidden;

    &-container {
      background-color: hsl(var(--input-background));
      padding: 0.6rem;
      flex: 1 0 50%;
      border-radius: 0 0.6rem 0.6rem 0;
    }
  }

  &__preview {
    @include preset('copy-standard');

    flex: 1 0 50%;
    padding: 0.6rem;
    transition: width 200ms;
    vertical-align: top;
  }

  &__error {
    opacity: 0;
    max-height: 0;
    color: var(--error);
    margin: 0.6rem 0 0;
    transition: opacity var(--animation-easing) var(--animation-duration-standard),
    max-height var(--animation-easing) var(--animation-duration-standard);
  }

  &--has-error {
    .form-fields-markdown__error {
      opacity: 1;
      max-height: 50px;
    }
  }
}
