$component-name: 'form-fields-multi-select';

.#{$component-name} {
  display: block;

  .form-fields-select-native__component {
    margin-bottom: 0;
  }

  &__label {
    @include preset('title-4');

    font-weight: 600;
    display: block;
    margin: 0 0 0.6rem;
  }

  button {
    margin: 0;
  }

  &__rules {
    margin: 0 0 1.2rem;
  }

  &__rule {
    display: flex;
    background-color: var(--form-control);
    color: var(--architect-sortable-text);
    border-radius: 0.6rem;
    z-index: var(--z-fx);
    transition: background-color var(--animation-easing) var(--animation-duration-standard);

    &:not(:last-of-type) {
      margin-bottom: 0.6rem;
    }

    &-control {
      flex-grow: 0;
      display: flex;
      align-items: center;
      padding: 0 1.2rem;
    }

    &-options {
      flex: 1;
      display: flex;
      align-items: flex-start;
      padding: 0.6rem 1.2rem;
    }

    &-option {
      display: flex;
      align-items: center;
      margin-left: 0.6rem;
      flex: 1 1 100%;

      &:first-child {
        margin-left: 0;
      }

      &-label {
        margin-right: 0.6rem;
        transition: color var(--animation-easing) var(--animation-duration-standard);
      }

      .form-field-container,
      .form-fields-select-native__wrapper {
        margin: 0;
        width: 100%;
        position: relative;

        .form-field {
          margin: 0;
        }

        .form-field-text__error,
        .form-fields-select__error  {
          z-index: 1;
          opacity: 1;
          width: 100%;
        }

        .form-field-text--has-focus {
          .form-field-text__error {
            display: flex;
            opacity: 1;
          }
        }
      }
    }
  }

  &__delete,
  &__add,
  &__handle {
    cursor: pointer;
    background-color: transparent;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--architect-sortable-text);

    .icon {
      width: 1.2rem;
      height: 1.2rem;

      .cls-1,
      .cls-2 {
        fill: var(--architect-sortable-text);
      }
    }
  }

  &__handle {
    cursor: grab;
  }

  &__add {
    display: inline-flex;
    width: auto;
    height: 2.4rem;
    border-radius: 1.2rem;
    padding: 0 1.2rem;

    .icon {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.6rem;
    }
  }

  &__field--has-error {
    .form-field-error {
      margin: 0.6rem 0;
      border-radius: 0.6rem;
    }

    .#{$component-name}__rule {
      background-color: var(--error);

      &-option-label {
        color: var(--text-light);
      }
    }

    .#{$component-name}__delete,
    .#{$component-name}__handle {
      background-color: transparent;
      filter: brightness(100);
    }
  }

}
