$component-name: form-fields-textarea;

.#{$component-name} {
  @include form-field;

  width: 100%;

  &__label {
    @include preset('title-4');

    font-weight: 600;
  }

  &__input {
    @include preset('copy-large');

    border: 0.12rem solid var(--architect-panel-background);
    padding: 0.6rem;
    min-height: 4.8rem;
    width: 100%;
    vertical-align: top;
    resize: vertical;
  }
}
