$component-name: form-fields-variable-picker;

.#{$component-name} {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.4rem 0;

  fieldset {
    --variable-pill-background: var(--color-white);
    --variable-pill-shadow-color: var(--color-variable-pill-shadow);

    flex: 1;
    border: 2px dashed var(--color-divider);
    padding: 1.2rem;
    border-radius: var(--border-radius);

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      padding: 0 1.2rem;
    }

    .variable-pill {
      margin-bottom: 1.2rem;
    }
  }

  &__error {
    color: var(--error);
    margin-bottom: 0;
  }
}
