$component-name: form-fields-video;

.#{$component-name} {
  width: 100%;
  padding-bottom: 57%;
  position: relative;
  background: hsl(var(--rich-black));
  overflow: hidden;

  &__name {
    padding: 1.2rem;
    border-radius: 1.2rem;
    word-break: break-all;
    position: absolute;
    z-index: 2;
    background: var(--color-architect-border);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__still {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
