.form-fields-entity-select {
	.form-fields-entity-select__field {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	.form-fields-entity-select__error {
		opacity: 0;
		background: var(--color-error);
		color: var(--color-error);
		transition:
			opacity var(--animation-easing) var(--animation-duration-standard),
			max-height var(--animation-easing) var(--animation-duration-standard);
		padding: var(--space-xs) var(--space-xs);
		display: flex;
		align-items: center;
		margin-bottom: var(--space-lg);

		& svg {
			max-height: var(--space-md);
		}
	}

	&.form-fields-entity-select--has-error {
		& .form-fields-entity-select__field {
			border: var(--space-xs) solid var(--color-error);
			margin-bottom: 0;
		}

		& .form-fields-entity-select__error {
			opacity: 1;
		}
	}

	&.form-fields-entity-select--nodes {
		--base-node-size: 7rem;

		& .preview-node {
			&.preview-node--clickable {
				&:not(.preview-node--selected) {
					cursor: pointer;
				}
			}
		}
	}
}

.preview-edge {
	background: var(--color-surface-1);
	margin: var(--space-sm);
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding: var(--space-sm) var(--space-md);
	border: 4px solid transparent;
	border-radius: 12rem; /* arbitrarily large */
	transition: border-color var(--animation-easing) var(--animation-duration-standard);

	& .icon {
		margin: 0 var(--space-sm) 0 0;
	}

	&.preview-edge--selected {
		border-color: var(--edge-color);

		&.preview-edge--selected {
			pointer-events: none;
		}
	}

	&.preview-edge--clickable {
		@apply clickable;
	}
}
