@reference '../../../tailwind.css';

.form-fields-variable-picker {
	display: flex;

	& fieldset {
		--variable-pill-background: var(--color-white);
		--variable-pill-shadow-color: var(--color-variable-pill-shadow);

		& > legend {
			padding: 0 var(--space-md);
		}

		& .variable-pill {
			margin-bottom: var(--space-md);
		}
	}

	.form-fields-variable-picker__error {
		color: var(--color-error);
		margin-bottom: 0;
	}
}
