@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Semantic slots */
    --background: var(--platinum);
    --foreground: var(--cyber-grape);

    --primary: var(--cyber-grape);
    --primary-foreground: var(--white);

    --secondary: var(--neon-coral);
    --secondary-foreground: var(--white);

    --muted: var(--platinum);
    --muted-foreground: var(--cyber-grape-hue)
      calc(var(--cyber-grape-saturation) - 10%)
      calc(var(--cyber-grape-lightness) - 10%);

    --accent: var(--slate-blue);
    --accent-foreground: var(--white);

    --destructive: var(--tomato);
    --destructive-foreground: var(--white);

    --warning: var(--neon-carrot);
    --warning-foreground: var(--white);

    --info: var(--cerulean-blue);
    --info-foreground: var(--white);

    --success: var(--sea-green);
    --success-foreground: var(--white);

    --border: var(--platinum--dark);

    --link: var(--neon-coral);

    --card: var(--white);

    --panel: var(--platinum);

    /* Focus ring */
    --ring: var(--mustard);

    --input: var(--white);
    --input-foreground: var(--cyber-grape);

    --popover: var(--white);
    --popover-foreground: var(--foreground);
  }

  html.dark {
    /* Semantic slots */
    --background: var(--navy-taupe);
    --foreground: var(--platinum);

    --primary: var(--neon-coral);
    --primary-foreground: var(--white);

    --secondary: var(--neon-coral);
    --secondary-foreground: var(--white);

    --muted: var(--platinum);
    --muted-foreground: var(--cyber-grape-hue)
      calc(var(--cyber-grape-saturation) - 10%)
      calc(var(--cyber-grape-lightness) - 10%);

    --accent: var(--slate-blue);
    --accent-foreground: var(--white);

    --destructive: var(--tomato);
    --destructive-foreground: var(--white);

    --warning: var(--neon-carrot);
    --warning-foreground: var(--white);

    --info: var(--cerulean-blue);
    --info-foreground: var(--white);

    --success: var(--sea-green);
    --success-foreground: var(--white);

    --border: var(--slate-blue);

    --link: var(--neon-coral);

    --card: var(--cyber-grape);

    --panel: var(--platinum);

    /* Focus ring */
    --ring: var(--mustard);

    --input: var(--cyber-grape);
    --input-foreground: var(--white);

    --popover: var(--cyber-grape);
    --popover-foreground: var(--foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply text-foreground;
    @apply bg-background;
  }

  code {
    @apply text-sm;
  }
}

@layer utilities {
  .focusable {
    @apply focus-visible:outline-4;
    @apply focus-visible:outline-offset-4;
    @apply focus-visible:outline-mustard;
  }
}

.DocSearch-Button {
  --docsearch-primary-color: hsl(var(--primary));
  --docsearch-text-color: hsl(var(--foreground));
  --docsearch-spacing: 2.5rem;
  --docsearch-icon-stroke-width: 2px;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: rgb(150, 159, 175);
  --docsearch-container-background: hsl(var(--background));
  --docsearch-logo-color: hsl(var(--primary));

  /* modal */
  --docsearch-modal-width: 560px;
  --docsearch-modal-height: 600px;
  --docsearch-modal-background: rgb(245, 246, 247);
  --docsearch-modal-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5),
    0 3px 8px 0 rgba(85, 90, 100, 1);

  /* searchbox */
  --docsearch-searchbox-height: 2.5rem;
  --docsearch-searchbox-background: hsl(var(--input));
  --docsearch-searchbox-focus-background: hsl(var(--input));
  --docsearch-searchbox-shadow: none;

  /* hit */
  --docsearch-hit-height: 56px;
  --docsearch-hit-color: rgb(68, 73, 80);
  --docsearch-hit-active-color: #fff;
  --docsearch-hit-background: #fff;
  --docsearch-hit-shadow: 0 1px 3px 0 rgb(212, 217, 225);

  /* key */
  --docsearch-key-gradient: linear-gradient(
    -225deg,
    rgb(213, 219, 228) 0%,
    rgb(248, 248, 248) 100%
  );
  --docsearch-key-shadow: inset 0 -2px 0 0 rgb(205, 205, 230),
    inset 0 0 1px 1px #fff, 0 1px 2px 1px rgba(30, 35, 90, 0.4);
  --docsearch-key-pressed-shadow: inset 0 -2px 0 0 #cdcde6,
    inset 0 0 1px 1px #fff, 0 1px 1px 0 rgba(30, 35, 90, 0.4);
  /* footer */
  --docsearch-footer-height: 44px;
  --docsearch-footer-background: #fff;
  --docsearch-footer-shadow: 0 -1px 0 0 rgb(224, 227, 232),
    0 -3px 6px 0 rgba(69, 98, 155, 0.12);

  @apply w-full !important;
  @apply h-10 !important;
  @apply rounded-input !important;
  @apply bg-input !important;
  @apply m-0 !important;
  @apply px-2 !important;
  @apply focusable !important;

  border: 1px solid hsl(var(--border)) !important;
  font-weight: inherit !important;
  color: inherit !important;

  .DocSearch-Button-Placeholder {
    @apply px-3 !important;
    @apply text-sm !important;
  }
}

@layer components {
  .react-select-container .react-select__control {
    @apply cursor-pointer rounded-xl border border-border bg-input p-2.5 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 dark:bg-input;
  }

  .react-select-container .react-select__single-value {
    @apply text-foreground dark:text-foreground;
  }

  .react-select-container .react-select__menu {
    @apply p-1.5 dark:bg-background lg:w-[30rem];
  }

  .react-select-container .react-select__menu-list {
    @apply p-0;
  }

  .react-select-container .react-select__option {
    @apply text-foreground dark:text-foreground;
  }

  .react-select-container .react-select__option--is-focused {
    @apply text-cyber-grape dark:text-cyber-grape;
  }

  .react-select-container .react-select__option--is-selected {
    @apply bg-accent text-platinum dark:text-platinum;
  }
}
