pre[class*='language-'] {
  color: theme('colors.platinum.DEFAULT');
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: theme('colors.barbie-pink.DEFAULT');
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: theme('colors.platinum.DEFAULT');
}

.token.module {
  color: theme('colors.barbie-pink.DEFAULT');
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: theme('colors.cerulean-blue.DEFAULT');
}

.token.punctuation,
.token.attr-equals {
  color: theme('colors.platinum.dark');
}

.token.unit,
.language-css .token.function {
  color: theme('colors.slate-blue.DEFAULT');
}

.token.comment,
.token.operator,
.token.combinator {
  color: theme('colors.neon-coral.dark');
}
