


.assign-attributes {
  &__empty {
    margin-top: 1.2rem;
    font-style: italic;
  }

  &__add {
    margin-top: 1.2rem;

    button {
      margin: 0;
    }
  }
}

.assign-attributes-attribute {
  display: flex;
  margin: 1.2rem 0;
  padding: 1.2rem;
  border-radius: var(--border-radius);


  .form-field {
    background: var(--color-surface-2);
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  &__variable {
    flex: 1 0 auto;

    .form-fields-variable-picker {
      margin-top: 0;
      margin-bottom: 1.2rem;

      fieldset {
        border-color: var(--color-border);
      }
    }
  }

  &__value {
    flex: 1 0 auto;
    border: 2px dashed var(--color-border);
    padding: 1.2rem;
    border-radius: var(--border-radius);

    legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      padding: 0 1.2rem;
    }
  }

  &__delete {
    flex: 0 0 5rem;
    padding-left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 1.2rem;
      cursor: pointer;

      .cls-1 {
        fill: var(--text-dark);
      }
    }
  }
}
