.codebook {
	--variable-pill-width: 25rem;

	margin: var(--space-10) var(--space-20);
	max-width: 80rem;

	&__notice {
		margin-top: var(--space-8);
		background-color: var(--color-surface-2);
		padding: var(--space-8);
		font-style: italic;
		text-align: center;
		border-radius: var(--space-4);
	}

	&__tag {
		display: inline-block;
		border-radius: var(--space-2);
		padding: var(--space-1) var(--space-2);
		font-size: .9em;
		color: var(--color-white);
		background-color: hsl(var(--mustard-dark));
		word-break: break-word;

		&--not-used {
			background-color: var(--color-warning);
		}
	}

	&__category {
		margin-top: var(--space-10);

		&-items {
			border-top: 0.2rem solid var(--color-divider);
			margin-top: var(--space-5);
		}
	}

	&-column {
		vertical-align: middle;

		&--control {
			white-space: nowrap;
			text-align: left;
			width: 0;

			button {
				margin-left: var(--space-2);

				.button__content {
					padding: 0;
					margin-left: 0 !important;
				}
			}
		}
	}

	&__entity {
		overflow: hidden;
		margin: var(--space-10) auto;
		padding: var(--space-10);
		background: var(--color-surface-2);
		border-radius: var(--border-radius);

		&:first-child {
			margin-top: var(--space-10);
		}

		&-detail {
			display: flex;
			align-items: center;
		}

		&-icon {
			flex-grow: 0;
			flex-basis: var(--space-20);

			.node {
				font-size: var(--text-5xl);
			}
		}

		&-name {
			padding-left: var(--space-10);
		}

		&-meta {
			flex: 1;
			padding-left: var(--space-10);

			.link {
				margin-right: var(--space-3);
			}
		}

		&-control {
			flex-grow: 0;
			display: flex;

			button {
				&:not(:last-of-type) {
					margin-right: var(--space-2);
				}
			}
		}
	}

	&__variables {
		margin-top: var(--space-5);
		width: 100%;

		&-row {
			&--heading {
				border-bottom: 0.2rem solid var(--color-divider);
			}

			&--even {
				background-color: var(--color-row-background);
			}
		}

		&-column,
		&-heading {
			margin-right: 0;
			height: var(--space-16);
			padding: var(--space-3) var(--space-2);
			font-size: var(--text-base);
		}

		&-heading {
			vertical-align: middle;
			text-transform: none;

			.sort-direction {
				margin-left: var(--space-2);
				position: relative;
				display: inline-block;
				height: var(--space-4);
				width: var(--space-4);

				&::after {
					display: block;
					position: absolute;
					font-size: var(--text-xl);
					top: -.15rem;
					color: var(--primary);
					content: "dir";
				}

				&--asc {
					&::after {
						content: "\25BE";
					}
				}

				&--desc {
					&::after {
						content: "\25B4";
					}
				}
			}
		}

		&--usage {
			max-width: 300px;
		}

		&-usage-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			> * {
				margin: var(--space-1);
			}
		}
	}

	.screen-link {
		margin-right: var(--space-2);
	}
}
