

.error {
  background-color: var(--modal-overlay);
  color: var(--foreground-light);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__layout {
    padding: 3.6rem;
    width: 60rem;
    border-radius: var(--border-radius);
    background: hsl(var(--cyber-grape));
  }

  &__stack {
    display: block;
    overflow: scroll;
    margin-top: 1.2rem;
    padding: 1.2rem;
    max-height: 9rem;
    border-radius: var(--border-radius);
    background-color: var(--color-error-code-background);
  }
}
