

.inline-edit-screen {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--modal-overlay);
  z-index: var(--z-modal);
  padding: unit(2);
  height: 100vh;

  &__header {
    background: var(--color-slate-blue--dark);
    color: var(--color-white);
    width: 100%;
    padding: 0.6rem 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.6rem .2rem 0 var(--architect-panel-shadow);
    z-index: var(--z-panel);
  }

  &__container {
    background: var(--color-white);
    max-width: 80rem;
    min-width: 50rem;
    max-height: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 4rem 0 var(--modal-window-box-shadow);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    background: var(--color-white);
    flex: 1 1 auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 1.2rem;
  }

  &__controls {
    width: 100%;
    padding: 1.2rem 2.4rem;
    background: var(--architect-control-bar-background);
    display: flex;
    justify-content: flex-end;

    button {
      &:last-child {
        margin-left: 1.2rem;
      }
    }
  }
}
