

.issues {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--color-sea-serpent);
  transform-origin: 0 100%;
  overflow: hidden;
  color: var(--text-light);
  z-index: var(--z-default);
  max-height: auto;

  &__title-bar {
    background-color: var(--color-sea-serpent--dark);
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &-icon {
      .icon {
        position: relative;
        top: 0.2rem;
        height: 2.4rem;
        width: 2.4rem;
      }
    }

    &-text {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      margin: 0 1.2rem;
      flex: 1 0 auto;
    }

    &-toggle {
      .issues-toggle {
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }

  &__issues {
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: issue;
    transition-property: max-height;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);
    overflow: hidden auto;
  }

  &__issue {
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition-property: background-color;
    transition-timing-function: var(--animation-easing);
    transition-duration: var(--animation-duration-standard);

    a {
      display: block;
      width: 100%;
      padding: 1.2rem 2.4rem;
      text-decoration: none;
      color: var(--text-light);

      &::before {
        counter-increment: issue;
        content: counter(issue) '.';
        margin-right: 1.2rem;
      }
    }

    &:hover {
      background-color: var(--color-sea-green);
    }
  }
}
