.simple-list {
	&:first-child {
		border-top: 0.2rem solid var(--color-divider);
	}

	.simple-list__item {
		display: flex;
		width: 100%;
	}

	.simple-list__attribute {
		display: flex;
		flex-grow: 1;
		flex-basis: auto;
		justify-content: flex-start;
		align-items: center;
		padding: var(--space-md) var(--space-sm);

		a {
			text-decoration: none;
			color: var(--color-text);
			cursor: pointer;
		}

		h3 {
			margin: 0;
		}
	}
}
