.tip {
	background-color: var(--color-surface-2);
	border-radius: var(--space-sm);
	padding: var(--space-xs) var(--space-xl);
	margin: var(--space-md) 0;
	font-size: var(--text-sm);
	display: flex;
	align-items: center;

	.icon {
		flex: 0 0 var(--space-xl);
		height: var(--space-xl);
		width: var(--space-xl);
	}

	.tip__content {
		margin-left: var(--space-md);
	}

	&.tip__info {
		background-color: var(--color-info);
		color: var(--color-info-foreground);
	}

	&.tip__warning {
		background-color: var(--color-warning);
		color: var(--color-warning-foreground);
	}

	&.tip__error {
		background-color: var(--color-error);
		color: var(--color-error-foreground);
	}
}
