

:root {
  --variable-pill-width: 33rem;
  --variable-pill-background: var(--color-white);
  --variable-pill-shadow-color: hsl(var(--platinum-dark));
}

.variable-pill {
  width: var(--variable-pill-width);
  display: inline-flex;
  flex-wrap: nowrap;
  background-color: var(--variable-pill-background);
  border-radius: 2.4rem;
  overflow: hidden;
  box-shadow: 0 0 0.6rem var(--variable-pill-shadow-color);

  &--disabled {
    opacity: .35;
  }

  &__edit-tooltip {
    cursor: pointer;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    display: flex;

    .icon {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  &__icon {
    background-color: hsl(var(--platinum));
    flex: 0 0 3.6rem;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__icon,
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    flex: 1;
    width: calc(100% - #{3.6rem});
    height: 4.2rem;
    display: flex;
    justify-content: space-between;

    .label {
      cursor: text;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .form-field-container {
      margin-bottom: 0;
      flex: 1;

      .form-field-text,
      .form-field-text__input {
        background: transparent;
      }

      .form-field-text__input {
        padding-right: 5em;
        margin-bottom: 0;
      }
    }

    h4 {
      margin: 0;
      color: var(--text-dark);
      flex: 1 0 auto;
      padding: 0.9rem 1.2rem;
      word-break: keep-all;
    }

    .edit-buttons {
      flex: 0 0 auto;
      display: flex;
      position: relative;
      right: 1rem;

      &__button {
        cursor: pointer;

        &--disabled {
          cursor: not-allowed;
          filter: grayscale(1);
        }

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }

        &--cancel {
          margin-left: 0.6rem;
        }
      }
    }
  }
}
