

.variable-spotlight {
  position: relative;
  margin-top: 7.2rem;
  width: 45rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-surface-2);
  color: var(--color-text);
  border-radius: var(--border-radius);
  box-shadow: 0 0 4rem var(--color-modal-window-box-shadow);
  z-index: var(--z-modal);

  &__empty {
    border-radius: var(--border-radius);
    flex: 1 100%;
    display: flex;
    align-items: center;
    padding: 1.2rem 2.4rem;

    .icon {
      margin-right: 0.6rem;
      flex: 0 0 auto;

      &[name='info'] {
        .cls-3 {
          fill: var(--color-divider);
        }
      }

      &[name='warning'] {
        .cls-1 {
          fill: var(--color-divider);
        }
      }

    }
  }

  .divider-header {
    border-top: 2px solid var(--color-surface-3);
    width: 100%;

    > legend {
      @extend .small-heading; // sass-lint:disable-line placeholder-in-extend

      text-align: center;
      color: var(--transparent--md);
      padding: 0.6rem 1.2rem;
    }
  }

  &__header {
    flex: 0 0 3.2rem;
    padding: 1.2rem 2.4rem;

    .form-field,
    .form-field-container {
      margin-bottom: 0;
    }
  }

  &__list {
    flex-direction: column;
    flex: 1 auto;
    max-height: 60vh;
    overflow: hidden;
    padding-bottom: 0.6rem;

    ol {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}

.spotlight-list-item {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2.4rem;
  align-items: center;

  .variable-pill {
    flex: 1 auto;
  }

  kbd {
    margin-left: 1.2rem;
    background: var(--color-surface-1);
    padding: 0.3rem 0.6rem;
    border: 1px solid var(--color-charcoal);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--selected {
    --color-text: var(--color-white);
    --variable-pill-shadow-color: hsl(var(--sea-green-dark));

    background: var(--color-primary);
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    cursor: not-allowed;
  }

  .create-new {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1.2rem;
    font-weight: 500;

    .icon {
      height: 1.8rem;
      margin-right: 1.2rem;


      .cls-1,
      .cls-2 {
        fill: var(--color-text);
      }

      &[name='warning'] {
        .cls-1,
        .cls-2 {
          fill: var(--color-warning);
        }

        .cls-3,
        .cls-4 {
          fill: var(--color-white);
        }
      }
    }
  }
}
