.codebook {
	--variable-pill-width: 25rem;

	margin: var(--space-3xl) var(--space-5xl);
	max-width: 80rem;

	.codebook__notice {
		margin-top: var(--space-2xl);
		background-color: var(--color-surface-2);
		padding: var(--space-2xl);
		font-style: italic;
		text-align: center;
		border-radius: var(--space-md);
	}

	.codebook__tag {
		display: inline-block;
		border-radius: var(--space-sm);
		padding: var(--space-xs) var(--space-sm);
		font-size: .9em;
		color: var(--color-white);
		background-color: hsl(var(--mustard-dark));
		word-break: break-word;

		&.codebook__tag--not-used {
			background-color: var(--color-warning);
		}
	}

	.codebook__category {
		margin-top: var(--space-3xl);

		&-items {
			border-top: 0.2rem solid var(--color-divider);
			margin-top: var(--space-lg);
		}
	}

	.codebook-column {
		vertical-align: middle;

		&.codebook-column--control {
			white-space: nowrap;
			text-align: left;
			width: 0;

			button {
				margin-left: var(--space-sm);

				.button__content {
					padding: 0;
					margin-left: 0 !important;
				}
			}
		}
	}

	.codebook__entity {
		overflow: hidden;
		margin: var(--space-3xl) auto;
		padding: var(--space-3xl);
		background: var(--color-surface-2);
		border-radius: var(--radius);

		&:first-child {
			margin-top: var(--space-3xl);
		}

		&-detail {
			display: flex;
			align-items: center;
		}

		&-icon {
			flex-grow: 0;
			flex-basis: var(--space-5xl);

			.node {
				font-size: var(--text-5xl);
			}
		}

		&-name {
			padding-left: var(--space-3xl);
		}

		&-meta {
			flex: 1;
			padding-left: var(--space-3xl);

			.link {
				margin-right: var(--space-md);
			}
		}

		&-control {
			flex-grow: 0;
			display: flex;

			button {
				&:not(:last-of-type) {
					margin-right: var(--space-sm);
				}
			}
		}
	}

	.codebook__variables {
		margin-top: var(--space-lg);
		width: 100%;

		&-row {
			&.codebook__variables-row--heading {
				border-bottom: 0.2rem solid var(--color-divider);
			}

			&.codebook__variables-row--even {
				background-color: var(--color-surface-2);
			}
		}

		&-column,
		&-heading {
			margin-right: 0;
			height: var(--space-4xl);
			padding: var(--space-md) var(--space-sm);
			font-size: var(--text-base);
		}

		&-heading {
			vertical-align: middle;
			text-transform: none;

			.sort-direction {
				margin-left: var(--space-sm);
				position: relative;
				display: inline-block;
				height: var(--space-md);
				width: var(--space-md);

				&::after {
					display: block;
					position: absolute;
					font-size: var(--text-xl);
					top: -.15rem;
					color: var(--color-primary);
					content: "dir";
				}

				&.sort-direction--asc {
					&::after {
						content: "\25BE";
					}
				}

				&.sort-direction--desc {
					&::after {
						content: "\25B4";
					}
				}
			}
		}

		&.codebook__variables--usage {
			max-width: 300px;
		}

		&-usage-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			> * {
				margin: var(--space-xs);
			}
		}
	}

	.screen-link {
		margin-right: var(--space-sm);
	}
}
