.error {
	background-color: var(--modal-overlay);
	color: var(--color-primary-foreground);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.error__layout {
	padding: var(--space-2xl);
	width: 60rem;
	border-radius: var(--radius);
	background: hsl(var(--cyber-grape));
}

.error__stack {
	display: block;
	overflow: scroll;
	margin-top: var(--space-md);
	padding: var(--space-md);
	max-height: 9rem;
	border-radius: var(--radius);
	background-color: var(--color-surface-1-foreground);
}
