.network {
	--table-color: rgb(58 106 117 / 5%);
	--alternate-row-color: var(--table-color);

	border-radius: var(--space-sm);
	background: var(--table-color);
	max-height: 60vh;
	overflow: auto;

	th,
	td {
		min-width: 8rem;
	}

	th {
		font-size: var(--text-sm);
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.05em;

		word-break: keep-all;
		white-space: nowrap;
		padding: var(--space-sm) var(--space-md);
		line-height: var(--space-xl);

		svg {
			height: var(--space-xl);
			width: var(--space-xl);
			position: relative;
			top: -0.1rem;
			vertical-align: middle;
			color: var(--color-primary);
		}

		&:not(:last-child) {
			border-right: 3px solid var(--color-white);
		}
	}

	td {
		padding: var(--space-md);

		&:not(:last-child) {
			border-right: 3px solid var(--color-white);
		}
	}

	tr {
		&:nth-child(2n + 1) {
			& > td {
				background-color: var(--alternate-row-color);
			}
		}
	}
}
