.options {
	display: block;

	.options__options {
		margin-bottom: var(--space-md);
	}

	.options__option {
		display: flex;
		background-color: var(--color-primary);
		color: var(--color-sortable-foreground);
		z-index: var(--z-fx);
		transition: background-color var(--animation-easing) var(--animation-duration-standard);
		border-radius: var(--space-md);

		&:not(:last-of-type) {
			margin-bottom: var(--space-md);
		}

		&-controls {
			flex-grow: 0;
			display: flex;
			padding: var(--space-md);

			&.options__option-controls--center {
				align-items: center;
			}
		}

		&-values {
			flex: 1;
			display: flex;
		}

		&-value {
			margin: var(--space-lg) 0;
			flex: 1;

			&:last-of-type {
				margin-left: var(--space-lg);
			}
		}

		&-label {
			margin: 0 0 var(--space-md);
			transition: color var(--animation-easing) var(--animation-duration-standard);
		}

		&-delete,
		&-handle {
			cursor: pointer;
			background-color: transparent;
			width: var(--space-3xl);
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--color-sortable-foreground);

			.icon {
				width: var(--space-lg);
				height: var(--space-lg);

				.cls-1,
				.cls-2 {
					fill: var(--color-sortable-foreground);
				}
			}
		}

		&-handle {
			cursor: grab;
		}

		.form-field-container {
			margin: 0;
		}
	}

	&.options--has-error {
		.form-field-error {
			margin: var(--space-md) 0;
			border-radius: var(--space-sm);
		}

		.options__option {
			background-color: var(--color-error);

			&-label {
				color: var(--color-primary-foreground);
			}
		}

		.options__delete,
		.options__handle {
			background-color: transparent;
			filter: brightness(100);
		}
	}
}
