.spotlight-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: var(--z-dialog);

	.modal__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--modal-overlay);
	}

	.spotlight-modal__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
