.start {
	margin: 0 auto;
	width: 60rem;
	transition-duration: var(--animation-duration-standard);
	transition-timing-function: var(--animation-easing);
	transition-property: opacity;
	display: flex;
	flex-direction: column;
	align-items: center;

	#create-new-protocol-button,
	#open-existing-protocol-button {
		transition: transform var(--animation-duration-standard)
			var(--animation-easing);
	}

	.start__welcome {
		display: flex;
		align-items: center;
		margin-bottom: 3vmin;

		&-logo {
			width: 20vmin;
			margin-right: 3vmin;
		}

		&-title,
		&-lead {
			color: hsl(var(--navy-taupe));
		}

		&-title {
			font-size: 5.6vmin;
			font-weight: var(--font-weight-bold);
			margin-top: 0;
			margin-bottom: var(--space-md);
		}

		&-lead {
			font-size: 2.5vmin;
			font-weight: var(--font-weight-normal);
		}
	}

	.start__call-to-action {
		padding: 0 0 var(--space-3xl);

		.button {
			margin: 0 var(--space-md) 0 0;
			padding: 1.8em;
			width: 18rem;
			transition: transform 5s ease-in;
		}
	}

	&.start--hide {
		#create-new-protocol-button {
			transform: translateX(-100%);
		}

		#open-existing-protocol-button {
			transform: translateX(100%);
		}
	}
}
