.tag {
	display: inline-flex;
	padding: 3px;
	border-radius: 3.2rem;
	width: auto;
	margin: var(--space-0-5);
	cursor: pointer;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-light-muted);
	background: var(--color-surface-2);
	border: 4px solid transparent;
}

.tag--light {
	color: var(--text-dark);
	background: var(--color-platinum);
}

.tag--clickable {
	/* Note: Apply .clickable class to HTML element */
}

.tag--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.tag__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.tag__dot--neon-coral {
	background-color: var(--color-neon-coral);
}
.tag__dot--sea-green {
	background-color: var(--color-sea-green);
}
.tag__dot--slate-blue {
	background-color: var(--color-slate-blue);
}
.tag__dot--navy-taupe {
	background-color: var(--color-navy-taupe);
}
.tag__dot--cyber-grape {
	background-color: var(--color-cyber-grape);
}
.tag__dot--mustard {
	background-color: var(--color-mustard);
}
.tag__dot--rich-black {
	background-color: var(--color-rich-black);
}
.tag__dot--charcoal {
	background-color: var(--color-charcoal);
}
.tag__dot--platinum {
	background-color: var(--color-platinum);
}
.tag__dot--sea-serpent {
	background-color: var(--color-sea-serpent);
}
.tag__dot--purple-pizazz {
	background-color: var(--color-purple-pizazz);
}
.tag__dot--paradise-pink {
	background-color: var(--color-paradise-pink);
}
.tag__dot--cerulean-blue {
	background-color: var(--color-cerulean-blue);
}
.tag__dot--kiwi {
	background-color: var(--color-kiwi);
}
.tag__dot--neon-carrot {
	background-color: var(--color-neon-carrot);
}
.tag__dot--barbie-pink {
	background-color: var(--color-barbie-pink);
}
.tag__dot--tomato {
	background-color: var(--color-tomato);
}
.tag__dot--white {
	background-color: var(--color-white);
}

.tag__label {
	font-size: var(--text-xs);
	text-transform: uppercase;
	letter-spacing: .15em;
	padding: 0 .75rem;
}

.tag__reset {
	cursor: pointer;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tag__reset svg {
	font-size: var(--text-xl);
}

.tag--selected {
	color: var(--color-white);
	background: var(--color-slate-blue);
}
