

.items-handle {
  width: 2.4rem;
  height: 100%;
  cursor: grab;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}
