

.items-new-button {
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-architect-edit-button-background);
  border-radius: 50%;

  .icon {
    width: 1.2rem;
    height: 1.2rem;

    .cls-1 {
      fill: var(--color-architect-edit-button-fill);
    }
  }
}
