@use "sass:math";


$preview-offset: 7.2rem;
$preview-width: 15.6rem;
$preview-ratio: math.div(10, 16);
$component-name: timeline-stage;

.#{$component-name} {
  padding: 3.2rem 0;
  position: relative;
  margin-top: 3.2rem;

  &__notch {
    @include typography('title-2');

    font-family: var(--heading-font-family);
    font-weight: 600;
    left: 50%;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 3.2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--architect-timeline-line);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
  }

  &__controls {
    cursor: pointer;
    position: absolute;
    width: $preview-width;
    top: 0;
    left: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: opacity var(--animation-duration-fast) var(--animation-easing),
    transform var(--animation-duration-fast) var(--animation-easing);
    opacity: 0;
    transform: translateZ(0) translateX(-6rem);
  }

  &__edit-stage {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__meta {
    margin: 0 0 0 $preview-offset;
    width: $preview-width;
  }

  &__screen {
    @include clickable(2);

    display: block;
    background: var(--color-navy-taupe);
    padding: 1rem;
    width: $preview-width;
    position: relative;
    left: -.6rem; // To counter box shadow
    z-index: var(--z-default);
    text-align: center;
    border-radius: .5rem;
    overflow: hidden;


    &-preview {
      width: 100%;
      color: var(--foreground-light);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        max-width: 100%;
        pointer-events: none;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 0.6rem;
    font-size: 1rem;
    font-style: italic;
    display: flex;
    align-items: center;

    img {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.6rem;
    }

    &:last-child {
      margin: 0;
    }
  }

  &:hover {

    .#{$component-name}__controls {
      opacity: 1;
      transform: translateX(0);
      transition: opacity var(--animation-duration-fast) var(--animation-duration-fast) var(--animation-easing),
      transform var(--animation-duration-fast) var(--animation-duration-fast) var(--animation-easing);
      transition-delay: 1s;
    }
  }

  &.timeline__sortable-element {
    z-index: var(--z-tooltip);
  }
}
